.nav{
    list-style-type: none;
    float:left;
    text-align: center;
    display: inline-block;
    width: 175px;
    padding 2em 0;
    text-decoration: none;
    background-color: maroon;
    color: white;
    font-weight: bold;
    border-right: solid white;
}
