ul {
   background-color: maroon;
   color: white;
   list-style: none;
   text-align:center;
   padding: 20px 0 20px 0;
}
ul li {
    display: inline-block;
    padding: 0 25px 0 25px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}
ul li > a {
    text-decoration: none;
    color: white;
}
