

.navbar {
   background-color: maroon;
   color: white;
   list-style: none; /*remove bullets from all ul elements*/
   text-align:center;
   position: relative;
   justify-content: space-around;
   font-family: sans-serif;
   height: 60px;
   display:flex;
   align-items: center;
    width: 100%;
  
}

.navbar li {
    display: inline-block;
    padding: 0 25px 0 25px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    position: relative;
    font-size: 18px;
}
.navbar li a {
    text-decoration: none;
    color: white;
}

.navbar ul {
    display: none;/*does not display submenu until hover*/
    position:absolute;
    top: 100%;/*positions submenu at bottom of main menu*/
    width: 150px;
    height: 70px;
    text-align: left;
    padding-top: 10px;
    background-color: silver;
}

.navbar ul li {float:none}/*display submenu vertically*/
.navbar li:hover > ul {
    display:block;/*display submenu on hover of li element*/
}
 .navbar::after {
    content: "";
    display:block;
    clear:both;
}

#container {
    width:960px;
    margin:0px auto;

}
@media screen and (max-width:959px){
    #container {
        width:100%;
    }
    .navbar {
        width: 100%;
        padding: 0 0 0 0;
    }
    .navbar li {

        width: 20%;
        padding: 0 0 0 0;
    }
    .navbar a {
        font-size: 0.75em;
    }
}




  