.paragraph {color:#3300ff}
main p:first-of-type:first-letter { font-size: 300%;}
main p:first-of-type {text-indent: 2em;}
footer p {
    text-align: center;
    background-color:beige;
    height: 40px;

    
}
main {
    display: flex;
    flex-direction: row;
    border:  none; /*remove for class requirement. But I like the feature and makes it easy for movement*/
    width: 800px;
    margin: 20px;
    padding: 10px;
    flex-direction: row;
 

}

aside img {
    max-height: max-content;

} 

div {background-color: beige;
    
}
section {background-color:beige;}
main {
    display:grid;
    grid-template: 500px  500px / 500px 500px 500px;
    grid-gap: 15px 20px;
    flex-direction: row;
    
}

@media screen and (max-width: 959px) {
    main {
        display:inline;
        width: 100%;
        
    }
    footer {
        width: 100%;
    }
    .paragraph {
        text-align: center;
    }
    
}
    

@media (max-width: 759px) 
     { 
    

}

@media (max-width: 500px)
    { 


}

@media (max-width: 250px) {


}